body {
  font-size: 1.1em;
}

img {
  max-height: 525px;
}

strong {
  color: #23373;
  font-weight: 500;
}

.title-slide {
  /*background-image: url(images/tidylogos.png);*/
  background-size: 30%;
  background-position: 95% 0%;
}

.footnote {
    position: absolute;
    bottom: 1em;
    padding-right: 4em;
    font-size: 60%;
}

.remark-slide-content {
  font-size: 20px;
}

.remark-code {
  font-size: 0.9em;
}

.left-column h3 {
    line-height: 1;
}

.left-column h3:last-of-type{
  color: #000;
}

.right-column {
  padding-top: 0;
}

.hl {
  color: #d16666;
  /*color: #ff3e41; */
  font-weight: 400;
}
.hlb {
  /* color: #d16666;
  color: #ff3e41; */
  color: #d14;
}

.left-code {
  color: #777;
  width: 38%;
  height: 92%;
  float: left;
}
.right-plot {
  width: 60%;
  float: right;
  /* border-left: solid 1px #272822; */
  padding-left: 1%;
}

.huge {
  font-size: 1.8em;
}

.fullscreen {
  /*background-color: #FAFAFA;*/
  border-top: none;
  background-position: center;
  background-size: cover;
}

.fullscreen .remark-slide-number {
  display: none;
}

.inverse .remark-slide-number {
  display: none;
}

.text-white {
  color: #FFF;
}

.text-black {
  color: #000;
}

.text-azzurro {
  color: #0099ff;
}


.img-right{
  height: 300px;
  width: 300px;
  top: 34%;
  left: 65%;
  position: absolute;
}

.img-right img {
  width: 100%;
}

.plot-callout {
  height: 300px;
  width: 600px;
  bottom: 10%;
  right: 5%;
  position: absolute;
  padding: 0px;
}

.plot-callout img {
  width: 100%;
  border: 4px solid #23373B;
}

.top-right {
  top: 10%;
  right: 5%;
}

.remark-inline-code{
  /* background: #F5F5F5; /* lighter */ 
  background-color: #F5F5F5;
  /*background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}


/******************
 * 
 * Coloured content boxes
 *
 ****************/


.content-box { 
    box-sizing: content-box;
    	background-color: #e2e2e2;
  /* Total width: 160px + (2 * 20px) + (2 * 8px) = 216px
     Total height: 80px + (2 * 20px) + (2 * 8px) = 136px
     Content box width: 160px
     Content box height: 80px */
}

.content-box-primary,
.content-box-secondary,
.content-box-blue,
.content-box-gray,
.content-box-grey,
.content-box-army,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
    /*border-radius: 15px; */
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    width: 100%;
}


.content-box-primary {
	background-color: var(--primary);

}


.content-box-secondary {
	background-color: var(--secondary);

}

.content-box-blue {
    background-color: #F0F8FF;

}

.content-box-gray {
    background-color: #e2e2e2;
}

.content-box-grey {
	background-color: #F5F5F5;
}

.content-box-army {
	background-color: #737a36;
}

.content-box-green {
	background-color: #d9edc2;
}

.content-box-purple {
	background-color: #e2e2f9;
}

.content-box-red {
	background-color: #f9dbdb;
}

.content-box-yellow {
	background-color: #fef5c4;
}


.full-width {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
}



/***********
 *
 * Changed CSS
 *
 **************/

.opacity{
    opacity: 0.5;
}



.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(10px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}


.grayscale img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}



/**************
 *
 * Fancy stuff
 *
 **************/


.rotate-left {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg); 
}

.rotate-right {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);     
}



/********** 
 * 
 * Image stuff
 *
 ************/


.polaroid img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #111;
    -moz-box-shadow: 3px 3px 3px #111;
    box-shadow: 3px 3px 3px #111;
}



.shadow {
    -moz-border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px #aaa;
    -webkit-box-shadow: 5px 5px 5px #aaa;
    box-shadow: 5px 5px 5px #aaa;
    border-radius: 2px;  
}

/**************
 *
 * Font size and colours
 *
 **************/

.Large { font-size: 144% }
.large { font-size: 120% }
.small { font-size: 90% }
.footnotesize { font-size: 80% }
.scriptsize { font-size: 70% }
.tiny { font-size: 60% }

.black { color: black; }
.red { color: red; }
.blue { color: blue; }
.green { color: green; }
.yellow { color: yellow; }
.orange { color: orange; }
.purple { color: purple; }
.gray { color: gray; }
.grey { color: gray; }

.bold { font-weight: bolder;   color: var(--header-color);}
.bolder { font-weight: bolder; color: var(--link-color);}
